<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/chats.css">
</head>
<body>
    <div class="container">
        <div>
            <h1>Chat app</h1>
        </div>
        <div class="col-md-8" id="mainContainer">
            <div class="group-container " id="groupBox">
                <input type="text" class="form-control" placeholder="Search">
                <button id="addgroup" class=" form-control btn-dark">Add New Group</button>
            </div>

            <div class="col-md-8" id="addgroupform" >
                <form onsubmit="creategroup(event)" >
                    <h1>Add Group</h1>
                    <label class="form-label">Group Name</label>
                    <input type="text" id="groupname" class="form-control" placeholder="Enter Group Name">
                    <label class="form-label">Enter Members Email</label>
                    <input type="text" id="groupemails" class="form-control" placeholder="Enter member email">
                    <br>
                    <button type="submit"  class="btn form-control  btn-primary">Save</button>
                </form>
                <br>
                <button  class="btn btn-danger form-control"  id="addgroupcancel">cancel</button>
            </div>
            <div class="col-md-8" id="chatBoxcontainer" >
                <div class="chat-container" id="chatBox">
                    <!-- Chat messages will be displayed here -->
                </div>
                
                <div class="row">
                    <textarea class="col-md-8" id="messageInput" placeholder="Type your message here" required></textarea>
                    <button class="col-md-2 btn btn-primary" id="sendmessage">Send</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/chat.js"></script>
<script src="/js/group.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>
