body {
    background: #2980b9;
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
    background: linear-gradient(to right, #2c3e50, #2980b9);
}

.container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: #06f5b9;
    text-transform: uppercase;
    word-spacing: 1px;
    letter-spacing: 2px;
}

#mainContainer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

#groupBox {
    background-image: linear-gradient( 135deg, #C2FFD8 10%, #465EFB 100%);
    border: 1px solid #e60505;
    border-radius: 5px;
    overflow-y: auto;
    margin: 20px auto;
    height: 400px;
    width: 90%;
    max-width: 700px;
    padding: 10px;
}
#addgroup{
    margin: 10px auto;
    display: block;
}

#addgroupform{
    display: none;
    background-image: linear-gradient( 135deg, #C2FFD8 10%, #465EFB 100%);
    border: 1px solid #e60505;
    border-radius: 5px;
    overflow-y: auto;
    margin: 20px auto;
    margin-left: 50px;
    height: 400px;
    width: 70%;
    max-width: 700px;
    padding: 10px;
}

#addgroupform form h1{
    color: #4d0101;
}

#chatBox {
    background-image: linear-gradient( 135deg, #C2FFD8 10%, #465EFB 100%);         
    border: 3px solid rgb(9, 83, 31);
    border-radius: 20px;
    overflow-y: auto;
    margin: 20px auto;
    height: 400px;
    width: 90%;
    max-width: 700px;
    padding: 10px;
}
#chatBoxcontainer{
    display: none;
}

.row {
    margin: 10px;
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

textarea {
    height: 50px;
    min-width: 300px;
    margin: 10px auto;
    resize: none;
}

#sendmessage {
    width: 80px;
}

.rightsidemessages {
    display: flex;
    font-family: 'Trebuchet MS';
    justify-content: flex-end;
    background: #2695df;
    color: rgb(2, 32, 4);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.leftsidemessages {
    display: flex;
    background: #2ecc71;
    font-family: 'Trebuchet MS';
    color: #4d0101;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.group-name{
    margin: 10px auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    background-color: blue;
    color: white;
}
.group-name.active {
    background-color: #dadd15; /* Set your desired background color */
    color: rgb(17, 0, 252) /* Set your desired text color */
    /* Add any other styles you want for the active state */
}


@media (min-width: 768px) {
    textarea {
        width: calc(70% - 10px);
        max-width: 500px;
        margin: 10px 0;
    }


    #addgroupform{
        width: 50%;
        max-width: 700px;
        padding: 10px;
    }
}

@media (max-width: 767px) {

    #groupBox{
        height: 300px;
    }
    /* Adjust styles for smaller screens */
    #mainContainer {
        flex-direction: column; /* Reverse the flex direction for mobile */
    }

    textarea {
        height: 50px;
        min-width: 80px;
        max-width: 70%;
        margin: 10px auto;
    }

    #sendmessage {
        width: 90%;
        margin: 10px auto;
    }

    #addgroupform{
        width: 90%;
        max-width: 700px;
        padding: 10px;
        margin: 20px auto;
        
    }
}
